.the-button {
    background-color: goldenrod;
    color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    transform: perspective(400px) rotateX(30deg);
    border-style: outset;
    border-bottom-width: 25px;
    border-top-width: 0px;
    border-color: gold;
    box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.3);
}

.the-button:active {
    border-bottom-width: 3px;
    border-top-width: 3px;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
